<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <table>
        <tr>
            <td colspan="2">{%block header%}HEADER{%/block header%}</td>
        </tr>
        <tr>
            <td>MENU</td>
            <td>
                {%block content%}CONTENT{%/block content%}
            </td>
        </tr>
        <tr>
            <td colspan="2">{%block footer%}FOOTER{%/block footer%}</td>
        </tr>
    </table>
</body>
</html>