<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css" media="all">
        @import url("/css/style.css");
    </style>
    <style type="text/css" media="print">
        @import url("/css/style.css");
    </style>
    <title>{{title}}</title>
</head>
<body>
    <div class="header">
        {%block header%}
        Templater.php
	<div class="login">{: User|loginPanel :}</div>
	<div class="menu_gorizontal"></div>
        {%/block header%}
    </div>
    <div class="menu">
        {%block menu%}
	MENU
	{%/block footer%}
    </div>
    <div class="content">
        {: SystemMessages :}
        {%block content%}

        {%/block content%}
    </div>

    <div class="footer">
        {%block footer%}
	    this is for me :)
	{%/block footer%}
    </div>
</body>
</html>